.container-fluid{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
}
a{
    color: #fff;
    text-decoration: none;

}
a:hover{
    color: #c1b8b8;
    text-decoration: none;
}

p{
    color: #fff;
   
}
