img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: 20%;
}
.map-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.class {
  position: absolute;
  border-radius: 8px;
  background: rgba(33, 171, 209, 0.15);
  transition: background 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.class:hover {
  background: rgba(0, 200, 255, 0.35);
  box-shadow: 0 0 10px 5px rgba(0, 200, 255, 0.5);
}