img{
    width: 65%;

}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.carousel {
    max-width: 60%;
}

.carousel-item img {
  max-width: 65%;
  height: auto;
  margin: 0 auto;
}




