.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.carousel {
    max-width: 60%;
}

.carousel-item img {
  width: 75%;        
  height: auto;
  border-radius: 3%;   
  object-fit: cover;    
  max-height: 1500px;   
  transition: transform 0.3s ease;
}

.carousel-control-prev,
.carousel-control-next {
  background: none !important; 
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon.custom-arrow,
.carousel-control-next-icon.custom-arrow {
  background-image: none; 
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 4px;
}

.carousel-control-prev-icon.custom-arrow {
  transform: rotate(135deg);
}

.carousel-control-next-icon.custom-arrow {
  transform: rotate(-45deg);
}






